main{
  max-width: 1200px;
  margin: auto;
  height: calc(100% - 150px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.util-wrapper {
  width: 567px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  padding: 30px;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  background: rgba(233, 40, 14, 1);
  background: linear-gradient(-45deg, rgba(255, 153, 80, 1) 0%, rgba(233, 40, 14, 1) 100%);
  color: white;
  -webkit-box-shadow: 1px 3px 4px 0px rgba(206, 206, 206, 1);
  -moz-box-shadow: 1px 3px 4px 0px rgba(206, 206, 206, 1);
  box-shadow: 1px 3px 4px 0px rgba(206, 206, 206, 1);
}

.util-wrapper .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nav .current-date {
  font-size: 30px;
  font-weight: 600;
}

.nav button {
  width: 30px;
  height: 30px;
  font-size: 30px;
  color: #ffffff;
}

.calendar ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
  font-size: 24px;
}


.calendar .days {
  margin-bottom: 6px;
}

.calendar ul li {
  width: calc(100% / 7);
  position: relative;
}

.calendar .days .date {
  z-index: 1;
  margin-top: 30px;
}

.days .date.inactive {
  color: #cccccc;
  cursor: pointer;
}

.days .date.active {
  color: #fff;
}

.calendar .days .date::before {
  position: absolute;
  content: '';
  height: 50px;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
  cursor: pointer;
}

.days .date:hover {
  color: #72281D;
  font-weight: 500;
  cursor: pointer;
}
.days .date.active::before {
  background: #990d0d;
}
.days .date:hover::before {
  background: rgba(255, 199, 159, 1);
  background: linear-gradient(90deg, rgba(255, 236, 223, 1) 0%, rgba(255, 199, 159, 1) 100%);
}



.todo{
  width: 567px;
  aspect-ratio: 1/1;
  box-sizing: border-box;
  background-color: #F4F4F4;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  -webkit-box-shadow: 1px 3px 4px 0px rgba(206, 206, 206, 1);
  -moz-box-shadow: 1px 3px 4px 0px rgba(206, 206, 206, 1);
  box-shadow: 1px 3px 4px 0px rgba(206, 206, 206, 1);
}

.todo-list:last-child{
  margin-bottom: 30px;
}

.todo-title{
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #E9280E;
  margin: 10px 0 20px 0;
}

.todo-item{
  font-size: 18px;
  padding: 5px;
  color: #72281D;
  font-weight: 500;
}

.todo-item input{
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.todo-item input[type="checkbox"]:checked+label {
  color: #72281D;
  text-decoration: line-through;
}
.todo .add-todo{
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  z-index: 10;
}
.todo .todo-input{
  width: 100%;
  height: 36px;
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}
.todo .todo-input:focus {
outline: none;
}

.todo .add-btn{
  width: 180px;
  height: 36px;
  background-color: #72281D;
  color: white;
  border-radius: 5px;
}

@media (max-width: 1140px) {
  main{
    flex-direction: column;
  }
  .util-wrapper{
    margin-bottom: 30px;
    aspect-ratio: 0;
  }
  main .todo{
    aspect-ratio: 0;
  }
}

@media (max-width: 590px) {
  .util-wrapper {
    width: 340px;
  }
  .nav .current-date {
    font-size: 18px;
  }
  .nav button {
    font-size: 18px;
  }
  .calendar ul{
    font-size: 14px;
  }
  .calendar .days .date::before {
    height: 30px;
    width: 30px;
  }
  main .todo {
    max-width: 340px;
  }
  .todo-title{
    font-size: 20px;
  }
  .todo-item{
    font-size: 16px;
  }
  .todo .add-todo {
    flex-direction: column;
  }
  .todo .todo-input{
    height: 30px;
  }
  .todo .add-btn {
    width: 100%;
    height: 30px;
    font-size: 14px;
  }

}